@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #FFFCF9;
}

.ourTeam_page{
  position: relative;
  background-color: #FFFCF9;
}
#ourTeam{
  position: relative;
  padding:10px 10%;
}
.team_people{
  background-color: #FEEAD8;
}
.hoverpage{
  position: relative;
  margin-top:10%;
}
.hover-container {
  width:100%;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px;
  color: #3C130E;
}

.hover-word {
  font-size: 6rem;
  cursor: pointer;
  display: inline-block;
  transition: transform 1s ease;
}

.hover-word.hovered {
  transform: translateX(-32vw);
  color:white;
}

.hover-paragraph {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateX(-20%) translateY(-30%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 1s ease;
  transition-delay: 0.4s;
  width: 60vw; /* Adjust width as needed */
  text-align: left;
  padding: 1vh;
  font-size: 1.3vw;
  color:white;
}

.hover-paragraph.visible {
  opacity: 1;
  visibility: visible;
  left: calc(50% + 20px); /* Adjust distance from the word */
}
.hover-container.visible{
  background-color: #3C130E;
}
.hover-container2 {
  width:100%;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px;
  color: #3C130E;
}

.hover-word2 {
  font-size: 6rem;
  cursor: pointer;
  display: inline-block;
  transition: transform 1s ease;
}

.hover-word2.hovered2 {
  transform: translateX(-32vw);
  color:white;
}

.hover-paragraph2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-20%) translateY(-30%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 1s ease;
  transition-delay: 0.4s;
  width: 60vw; /* Adjust width as needed */
  text-align: left;
  padding: 1vh;
  font-size: 1.3vw;
  color:white;
}

.hover-paragraph2.visible2 {
  opacity: 1;
  visibility: visible;
  left: calc(50% + 20px); /* Adjust distance from the word */
}
.hover-container2.visible2{
  background-color: #3C130E;
}
.cardBlockPage{
  background-color: #FEEAD8;
}
.cardContent{
  font-size: 9px;
}
.cardbuttonColor{
  background-color:yellow;
  color:black;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px){
  .hover-word {
    margin-left: 15px;
    font-size: 4rem;
  }
  .hover-word2{
    margin-left: 15px;
    font-size: 4rem;
  }
}

.path {
  stroke-dasharray: 284.51922607421875 + ' ' + 284.51922607421875;
  stroke-dashoffset: 284.51922607421875;
  transition: stroke-dashoffset 2s ease-in-out;
}

@keyframes rightToLeftWipe {
  0% {
    visibility: hidden; /* Initially hide the element */
    clip-path: inset(0 0 0 100%); /* Start with the element fully covered on the left */
  }
  1% {
    visibility: visible; /* Make the element visible at the start of the animation */
  }
  100% {
    visibility: visible;
    clip-path: inset(0 0 0 0); /* End with the element fully revealed */
  }
}

@keyframes rightToLeftWipeReverse {
  0% {
    visibility: hidden; /* Initially hide the element */
    clip-path: inset(0 100% 0 0); /* Start with the element fully covered on the left */
  }
  1% {
    visibility: visible; /* Make the element visible at the start of the animation */
  }
  100% {
    visibility: visible;
    clip-path: inset(0 0 0 0); /* End with the element fully revealed */
  }
}

.wipe-effect {
  animation: rightToLeftWipe 3s forwards;
}

.wipe-effect-reverse {
  animation: rightToLeftWipeReverse 3s forwards;
}

.hidden-initially {
  visibility: hidden;
}